<style>
  .center {
    border: 1px solid red;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
</style>
<ion-header>
  <ion-toolbar [color]="colorToolbar">
    <!-- Boton principal del menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">

      <button ion-button (click)="goListDetalleCotizacion()">
        <ion-back-button></ion-back-button>
      </button>

    </ion-buttons>

    <ion-title>{{tituloUi}}</ion-title>

    <ion-buttons slot="end">

      <div *ngIf="!solicitarPrecio">

        <ion-button (click)="imprimirCotiza(cotizacion)" size="large">
          <ion-icon name="print-outline" size="large"></ion-icon>

          <!-- <ion-icon name="checkmark" style="color: white; font-size: 2.2em; font-weight:900;" slot="end"></ion-icon> -->
        </ion-button>
      </div>


      <!--  <ion-button *ngIf="mostrarEnDesarrollo" size="large">
                    <ion-icon name="brush" size="large"></ion-icon>
                </ion-button> -->

      <div *ngIf="editable">
        <ion-icon *ngIf="showLoading" name="cloud-upload-outline" size="large"></ion-icon>
        <ion-button *ngIf="!showLoading" (click)="onSave(false)" [disabled]="!form.valid" size="large">
          <ion-icon name="save-outline" size="large"></ion-icon>
          <!-- <ion-icon name="checkmark" style="color: white; font-size: 2.2em; font-weight:900;" slot="end"></ion-icon> -->
        </ion-button>
      </div>


    </ion-buttons>

  </ion-toolbar>

  <ion-row>

    <ion-col *ngIf="showLoading">
      <div class="ion-text-center">

        <h3>Guardando Cotizacion</h3>

      </div>
    </ion-col>

  </ion-row>
</ion-header>

<ion-content>



  <div has-header="true" padding="true">

    <ion-list *ngIf=" this.uiImageLink!==''">
      <ion-item>


        <!--  <img src="{{uiImageLink}}"> -->

        <ion-label style="padding-left:20px;">
          <h4 class="ion-text-wrap bold" *ngIf="this.appProduct !== null"> {{this.cotizacion.cotizacion}} -
            {{appProduct.code}} - {{ uiNombreProductoInCard }} </h4>
          <p class="ion-text-wrap bold" *ngIf="this.appProduct === null"> {{this.cotizacion.cotizacion}} </p>
          <p class="listatasa" *ngIf="cantidadPorUnidad>0">
            $ {{ descripcionSalesUnit }} :
            {{generalService.maskFloat(newPrecioMasFlete/(this.form.get('cantidadSolicitada').value
            /this.form.get('cantidad').value),5) }} -
            {{generalService.maskFloat( this.form.get('cantidadSolicitada').value /this.form.get('cantidad').value,0) }}
            {{ descripcionSalesUnit }} X {{
            decripcionProductionUnit }}
          </p>



          <p class="bold">
            Tasa: {{ generalService.maskFloat(uiTasa,4) }}
          </p>

        </ion-label>
      </ion-item>


    </ion-list>

    <ion-col size-lg="6" size-md="6" size-sm="6" size="12">

    </ion-col>

    <ion-card class="containerCardNew">
      <form [formGroup]="form" novalidate style="display: flex; justify-content: center;">


        <ion-grid>
          <ion-row *ngIf="false">
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-item>
                <ion-input class="ion-text-wrap" type="text" formControlName="producto" placeholder="Codigo Producto">
                </ion-input>

              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Combo Subcategoria -->
          <ion-row>
            <!-- <ion-col size-lg="12" size-md="12" size-sm="12" size="12" > -->
            <ion-col size-lg="12" size-md="12" size-sm="12" size="12" *ngIf="subCategoryid!==2 ">
              <ion-item class="small-list">
                <ion-label style="align-items: left" class="bold">Orden Anterior:</ion-label>
                <ion-input type="text" formControlName="ordenAnterior" readonly placeholder="Buscar Orden Anterior">
                </ion-input>

                <ion-button *ngIf="this.operacion === 0" (click)="limpiarOrdenAnterior()">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
                <ion-button *ngIf="this.operacion === 0" (click)="onBuscarordenAnterior()">
                  <ion-icon name="search-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>

            <ion-col size-lg="12" size-md="12" size-sm="12" size="12">

              <!-- Select de condicion de pago -->

              <ion-item>

                <ion-label class="bold">
                  Condicion de Pago
                </ion-label>

                <ion-select formControlName="condicionPago" [(ngModel)]="condicionPagoCodigo"
                  (ionChange)="onChangeCondicionPago($event)">

                  <ion-select-option *ngFor="let item of listCondicionPagoDto" [value]="item.codigo"
                    style="max-width: 100% !important;">

                    {{item.descripcion}}

                  </ion-select-option>

                </ion-select>

              </ion-item>

              <ion-item>
                <ion-col>
                  <ion-label class="bold">Categoria:</ion-label>
                </ion-col>
                <ion-col>
                  <ion-select formControlName="subCategoriaId" [(ngModel)]="subCategoryid"
                    (ionChange)="onChangeSubCategoriaId($event)" placeholder="Select Categoria">

                    <ion-select-option [disabled]="this.cotizacion.ordenAnterior > 0"
                      *ngFor="let item of appSubcategoryGetDto" [value]="item.id">

                      {{item.description}}

                    </ion-select-option>

                  </ion-select>
                </ion-col>
              </ion-item>



            </ion-col>
            <!--  <button class="btn btn-primary fa fa-save" value="Create" type="submit" id="BtnCrear"> Actualizar</button> -->
            <!--  <button class="btn btn-primary fa fa-save" value="Create" type="submit" id="BtnCrear"> Actualizar</button> -->
            <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
              <ion-item class="small-list">
                <ion-label style="align-items: left" class="bold">Descripcion:</ion-label>
                <ion-textarea rows="2" cols="50" formControlName="nombreComercialProducto"
                  placeholder="Descripcion del producto " maxlength="200">
                </ion-textarea>
                <p class="contador" *ngIf="this.form.get('nombreComercialProducto').value !== null">
                  {{this.form.get('nombreComercialProducto').value.length}}/200</p>
                <div *ngIf="subCategoryid!==2 ">
                  <ion-button (click)="onBuscarProducto()" *ngIf="this.cotizacion.ordenAnterior===0">
                    <ion-icon name="search-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="onBuscarCaracteristicas()" *ngIf="this.operacion === 1 && mostrarEnDesarrollo">

                    <ion-icon name="settings"></ion-icon>
                  </ion-button>
                </div>
                <div *ngIf="subCategoryid===2 || subCategoryid===17">
                  <ion-button (click)="onBuscarProductoGeneral()">

                    <ion-icon name="search-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-item>

            </ion-col>
            <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
              <ion-item class="small-list">

                <ion-label style="align-items: left" class="bold">Unidad:</ion-label>
                <ion-input type="text" formControlName="unidad" readonly placeholder="Buscar Unidad">
                </ion-input>

                <ion-button (click)="onBuscarUnidad()" [disabled]="btnUmDisabled">
                  <ion-icon name="search-outline"></ion-icon>
                </ion-button>



              </ion-item>
            </ion-col>



          </ion-row>

          <!-- Medidas -->
          <ion-row *ngIf="this.requiereDatosEntrada">
            <!-- Basica-->
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-item>
                <ion-label style="align-items: left" class="bold">Basica:</ion-label>

                <input inputmode="numeric" style="display: inline-block;text-align: left;" currencyMask
                  formControlName="medidaBasica"
                  [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                  (ngModelChange)="medidaBasicaChanged($event)" class="inputValue" />
              </ion-item>
            </ion-col>
            <!-- Opuesta-->
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-item>
                <ion-label style="align-items: left" class="bold">Opuesta:</ion-label>

                <input inputmode="numeric" style="display: inline-block;text-align: left;" currencyMask
                  formControlName="medidaOpuesta"
                  [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                  (ngModelChange)="medidaOpuestaChanged($event)" class="inputValue" />
              </ion-item>
            </ion-col>
          </ion-row>



          <ion-row>


            <!-- Cantidad Solicitada-->
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">


              <ion-item>
                <ion-label style="align-items: left" class="bold">Cant.{{ descripcionSalesUnit }}:
                </ion-label>

                <input inputmode="numeric" style="display: inline-block;text-align: left;" currencyMask
                  formControlName="cantidadSolicitada"
                  [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 0}"
                  (ngModelChange)="cantidadSolicitadaChanged($event)" class="inputValue" />



              </ion-item>
            </ion-col>
            <!-- Cantidad -->
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-item>
                <ion-label class="bold">Cant.{{ decripcionProductionUnit }}:</ion-label>
                <div *ngIf="this.appProduct!==null ">
                  <p *ngIf="this.appProduct.cantidadMinima>0 && this.appProduct.tipoCalculo !== 4" class="mensajeRojo">
                    Min:{{this.appProduct.cantidadMinima}} ==></p>
                  <p *ngIf="this.appProduct.cantidadMinima>0 && this.appProduct.tipoCalculo===4" class="mensajeRojo">
                    Min: {{this.appProduct.cantidadMinima}}</p>
                </div>

                <input currencyMask formControlName="cantidad"
                  [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 3}" readonly="true"
                  class="inputValue" />
              </ion-item>
            </ion-col>
          </ion-row>






          <!-- si es  US$ -->
          <!--   <div *ngIf="isDolar"> -->
          <div>
            <!-- Precio US$ -->
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-item>
                  <ion-label class="bold">
                    <p class="listatasa">
                      P. Min: {{ decripcionProductionUnit }} US$:
                      ({{this.newPrecioMasFlete}}) {{mensaje}}
                      Id:{{calculoId}} P. Max:{{generalService.maskFloat(this.precioMaximo + this.flete)}}

                    </p>
                    <p class="listatasa">
                      {{ this.concesionString }}

                    </p>
                    <p *ngIf="this.appProduct && this.appProduct.requiereEstimacion===true" class="listatasa">
                      Presione el boton de enviar a aprobación por estimación

                    </p>

                  </ion-label>
                  <input inputmode="numeric" currencyMask formControlName="precioUsd"
                    [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                    (ngModelChange)="precioUsdChanged($event)" class="inputValue" />

                </ion-item>
              </ion-col>
              <!-- Total US$ -->
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-item>
                  <ion-label class="bold">Total US$:</ion-label>
                  <input currencyMask formControlName="totalUsd"
                    [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}" readonly
                    class="inputValue" />

                </ion-item>
              </ion-col>
            </ion-row>

          </div>

          <!-- Si es  Bs -->
          <div *ngIf="isBs">
            <!-- Precio Bs -->
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-item>
                  <ion-label class="bold">
                    <p class="listatasa">
                      ({{generalService.maskFloat(newPrecioMasFlete * uiTasa ,2)}})
                    </p>
                    <p>
                      Precio Bs.:
                    </p>

                  </ion-label>
                  <input inputmode="numeric" currencyMask formControlName="precio"
                    [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                    [readonly]="!isBs" (ngModelChange)="precioChanged($event)" />

                </ion-item>
              </ion-col>
            </ion-row>

            <!-- Total Bs. -->
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                <ion-item>
                  <ion-label class="ion-align-items-start" class="bold">Total Bs.:</ion-label>
                  <input currencyMask formControlName="total"
                    [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left',precision: 2}"
                    [readonly]="!isBs" class="ion-align-items-start" />

                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="this.appProduct && this.appProduct.appSubCategoryId===9">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Etiquetas Prime</ion-card-title>
                <ion-card-subtitle>Info, para Formato de Cotizacion</ion-card-subtitle>
              </ion-card-header>
              <ion-item>
                <ion-label position="floating" class="bold">Salida Etiquetas Prime:</ion-label>
                <ion-select formControlName="salida" (ionChange)="onChangeSalida($event)">
                  <ion-select-option *ngFor="let item of salidas" [value]="item">
                    {{item }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating" class="bold">Forma Etiquetas Prime:</ion-label>
                <ion-select formControlName="forma" (ionChange)="onChangeTipoForma($event)">
                  <ion-select-option *ngFor="let item of tipoForma" [value]="item">
                    {{item}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-row>
                <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
                  <!-- obs -->
                  <ion-item>
                    <ion-label position="floating" class="bold">Presentacion Etiquetas Prime</ion-label>
                    <ion-textarea formControlName="presentacion" rows="2" cols="50" maxlength="200">
                    </ion-textarea>
                    <p class="contador">Min 5 Digitos: {{this.form.get('presentacion').value?.length}}/200</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>

          </div>

          <!-- Dias -->
          <ion-row>
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <ion-item>
                <ion-label position="fixed" class="bold">Dias Entrega</ion-label>
                <ion-input type="number" formControlName="diasEntrega">
                </ion-input>

              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
              <!-- Cantidad Por Caja -->
              <ion-item *ngIf="false">
                <ion-label position="fixed" class="bold">Cantidad X Caja</ion-label>
                <ion-input type="number" formControlName="quantityPerPackage">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="this.item.mensajeSolicitarPrecio">
            <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
              <!-- obs -->
              <ion-item>
                <ion-label position="floating" class="bold">Mensaje Solicitud Precio</ion-label>
                <ion-textarea formControlName="mensajeSolicitarPrecio" rows="2" cols="50" maxlength="200">
                </ion-textarea>

              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
              <!-- obs -->
              <ion-item>
                <ion-label position="floating" class="bold">Observaciones</ion-label>
                <ion-textarea formControlName="observaciones" rows="2" cols="50" maxlength="200">
                </ion-textarea>
                <p class="contador">{{this.form.get('observaciones').value.length}}/200</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <div *ngIf="this.item.statusAprobacionDto">

            <ion-item *ngIf=" this.item.statusAprobacionDto.statusString==='SOLICITUD RECHAZADA POR EL DPTO PRECIOS'">
              <p class="listatasa">
                Precio: {{ generalService.maskFloat(this.item.statusAprobacionDto.valorVentaAprobarUsd) }} - {{
                this.item.statusAprobacionDto.statusString }}
              </p>


            </ion-item>
            <ion-item
              *ngIf="this.item.statusAprobacionDto && this.item.statusAprobacionDto.valorVentaAprobarUsd>0 && !solicitarPrecio">
              <p class="listatasa">
                Precio Aprobado: {{ generalService.maskFloat(this.item.statusAprobacionDto.valorVentaAprobarUsd) }} - {{
                this.item.statusAprobacionDto.statusString }}
              </p>


            </ion-item>
            <ion-item
              *ngIf="this.newPrecioMasFlete < this.precioUsd && this.item.statusAprobacionDto.statusString==='APROBADO'">

              <ion-col>

                <ion-button type="button" shape="round" color="danger" [disabled]="_btnCalculadoraDisabled"
                  class="button button-block" (click)="enviarAprobacion()">
                  Solicitar Aprobacion.
                </ion-button>
              </ion-col>
            </ion-item>
          </div>



          <ion-row *ngIf="solicitarPrecio ">
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12">

              <ion-item *ngIf="this.item.statusAprobacionDto && this.item.statusAprobacionDto.valorVentaAprobarUsd>0">
                <p class="listatasa">
                  Precio Aprobado: {{ this.item.statusAprobacionDto.valorVentaAprobarUsd }} - {{
                  this.item.statusAprobacionDto.statusString }}
                </p>


              </ion-item>
              <ion-item>

                <ion-col>

                  <ion-button type="button" shape="round" color="danger" [disabled]="_btnCalculadoraDisabled"
                    class="button button-block" (click)="enviarAprobacion()">
                    {{mensajeBotonSolicitarPrecio}}
                  </ion-button>
                </ion-col>
              </ion-item>

              <ion-item>
                <ion-col>
                  <ion-label>Obs.</ion-label>
                  <ion-textarea formControlName="obsSolicitud" rows="6" cols="1"
                    placeholder="Ingrese detalle de la solicitud...">
                  </ion-textarea>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>


        </ion-grid>



      </form>
    </ion-card>



  </div>








</ion-content>