.bold {
  font-weight: bold;
}

.listatasa {
  font-weight: bold;
  background-color: yellow !important;
  color: black;
  padding: 4px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputValue {
  border-radius: 5px;
}


.containerCard {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.containerCardNew1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerCardNew {
  display: grid;
  place-items: center;

}

.contador {
  color: rgb(243, 183, 183);
  font-size: small;
  padding-right: 25px;
  padding-left: 25px;
}

.mensajeRojo {
  color: rgb(219, 29, 29);
  font-size: medium;
  padding-right: 25px;
  padding-left: 25px;
}

.small-list {

  max-height: 100px;

}

.subcategorySelect {

  right: auto;
  padding: 13px 45px 15px 0px;
  direction: ltr;

}