<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>App Moore</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="onClickExit()">
        <ion-icon name="exit-outline"></ion-icon>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-footer>
  <iframe src="https://www.chatbase.co/chatbot-iframe/LM9jhFX6QHSv3KdpBnEpO" style="
    width: 100%;
    height: 100vh; /* O usa 100% si está dentro de un contenedor flexible */
    border: none;
    display: block;
  "></iframe>
</ion-footer> -->
<ion-content>

</ion-content>