<ion-header>
  <ion-toolbar color='primary'>
    <!-- Boton principal del menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Botonos auxiliares -->
    <ion-buttons slot="end">

      <!-- Refrescar lista  -->
      <ion-button (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <!-- añadir cotizacion -->
      <ion-button (click)="onClickAdd()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>Aprobación de Cotizaciones: {{ this.nombreUsuario}}</ion-title>
  </ion-toolbar>

  <br>
  <ion-item>
    <ion-col>
      <ion-label>Desde</ion-label>
      <ion-datetime-button datetime="fechaDesde"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="fechaDesde" [(ngModel)]="fechaDesde"></ion-datetime>
        </ng-template>
      </ion-modal>
      <!--   <ion-datetime presentation="date" [(ngModel)]="fechaDesde"></ion-datetime> -->
    </ion-col>
    <ion-col>
      <ion-label>Hasta</ion-label>
      <ion-datetime-button datetime="fechaHasta"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="fechaHasta" [(ngModel)]="fechaHasta"></ion-datetime>
        </ng-template>
      </ion-modal>
      <!--  <ion-datetime presentation="date" [(ngModel)]="fechaHasta"></ion-datetime> -->
    </ion-col>

  </ion-item>

  <br>
  <ion-item>
    <ion-label>Estatus</ion-label>
    <ion-select [(ngModel)]="mtrOficinaSelected" (ionChange)="onChangeOfic($event)" value="{{defaultOficina}}"
      interface="action-sheet">
      <ion-select-option *ngFor="let item of estatus" [value]="item">
        {{item}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>

    <ion-searchbar [(ngModel)]="searchText" (ionChange)="onChangeSearchText($event)"
      placeholder="IdCliente-Nombre Ciente-Rif-Oficina -Vendedor-Producto-Orden" debounce=800></ion-searchbar>

  </ion-item>

  <ion-row>

    <ion-col *ngIf="cargando">
      <div class="ion-text-center">

        <h3>Cargando datos.........</h3>

      </div>
    </ion-col>

  </ion-row>





</ion-header>

<ion-content>


  <!-- listado de cotizaciones  -->
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="3" size-sm="3" size="12" *ngFor="let item of mtrClienteDto">
        <ion-card (click)="presentActionSheet(item)" class="ganada">
          <ion-card-header color="light">
            <ion-item color="light" lines="none">
              <p> <b> Cliente: </b> {{item.idCliente}} {{item.rif}} {{item.razonSocial}}</p>
            </ion-item>

          </ion-card-header>

          <ion-card-content class="ion-margin-top">
            <p> <b> Cotizacion: </b> {{item.cotizacion}} </p>
            <p *ngIf="item.cotizacionCorta>0"> <b> Cotizacion Corta: </b> {{item.cotizacionCorta}} </p>


            <p> <b> Oficina: </b> {{item.nombreOficina}} </p>
            <p> <b> Vendedor: </b> {{item.vendedor}} </p>
            <p> <b> Producto: </b> {{item.producto}} </p>
            <p> <b> Fecha: </b> {{item.fechaString}} </p>
            <p> <b> Total Propuesta Usd: </b> {{item.totalPropuestaUsdString}} </p>
            <p> <b> Estatus Planta: </b> {{item.estatusPlanta}} </p>
            <p> <b> Recibo de Pago: </b> {{item.recibo}} </p>
            <p *ngIf="item.fiscal.length>0"> <b> </b> {{item.fiscal}} </p>
            <p *ngIf="item.orden>0"> <b> Orden: </b> {{item.orden}} </p>
            <p *ngIf="item.observacionesCreditoExcepcion.length>0"> <b>Obs Excepcion: </b>
              {{item.observacionesCreditoExcepcion}} </p>
            <p *ngIf="item.observacionesCreditoExcepcion.length>0"> <b>Estatus Excepcion: </b>
              {{item.dercripcionStatusExcepcion}} </p>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

  </ion-grid>


</ion-content>