<ion-header>
  <ion-toolbar color='primary'>
    <ion-title> {{titulo}} </ion-title>

  </ion-toolbar>

  <ion-item>
    <label>
      <p  class="ion-text-wrap">
        {{ codigo }} {{rif}} {{nombreCliente}}
      </p>
      <p *ngIf="mensaje !==''">
        {{mensaje}}
      </p>
    </label>
  </ion-item>
  <ion-row>

    <ion-col *ngIf="guardando">
      <div class="ion-text-center">

        <h3>Guardando.........</h3>

      </div>
    </ion-col>

  </ion-row>
</ion-header>

<ion-content>

  <ion-card>

    <form [formGroup]="form" novalidate (ngSubmit)="update()">

      <ion-item>
        <ion-label position="floating">Tipo Negocio:</ion-label>
        <ion-select formControlName="idTipoNegocio" (ionChange)="onChangeNegocio($event)">
          <ion-select-option *ngFor="let item of listTipoNegocio" [value]="item.idTipoNegocio">
            {{item.descripcionTipoNegocio}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item >
        <label for="sector" position="floating">Sector:</label>
        <ion-input type="text" formControlName="descripcionSector"></ion-input>
        <ion-button (click)="onBuscarSector()" >
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item >
        <label for="sector" position="floating">Ramo:</label>
        <ion-input type="text" formControlName="descripcionRamo"></ion-input>
        <ion-button (click)="onBuscarRamo()" >
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>

        <label for="descripcionMunicipio" position="floating">Municipio:</label>
        <ion-input type="text" formControlName="descripcionMunicipio"></ion-input>
        <ion-button (click)="onBuscarMunicipio()" >
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rif</ion-label>
        <ion-input type="text" formControlName="rifDireccion"></ion-input>
        <div *ngIf="rifFieldIsInvalid">
          <ion-text color="danger">
            Formato de RIF invalido: el primer caracter debe ser J,G,V,E (Mayuscula). Ej: J-12345678-9
          </ion-text>

        </div>

      </ion-item>
      <ion-item >
        <ion-label position="floating">Direccion:</ion-label>
        <ion-input type="text" formControlName="direccion"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="text" formControlName="direccion1"></ion-input>
      </ion-item>

      <ion-item >

        <ion-input type="text" formControlName="direccion2"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">Punto Referencia:</ion-label>
        <ion-input type="text" formControlName="puntoReferencia"></ion-input>
      </ion-item>

      <!--  Direccion de entrega -->




    </form>


    <div>
      <div *ngIf="!guardando">
        <ion-button (click)="update()">
          Guardar
        </ion-button>

      </div>

    </div>


  </ion-card>



</ion-content>
